<div class="userView-container">
	<header>
		<img src="{{currentUser.img}}" alt="Image of {{currentUser.userName}}" class="logo">
		<h1 id="userGreeting">Hello, {{currentUser.userName}}...</h1>
		<nav>
			<ul>
				<li id="update-account" class="navItem"><i class="fa fa-pencil" aria-hidden="true"></i>  Update Profile</li>
				<li>|</li>
				{{!-- commented out for future use --}}

				{{!-- <li class="navItem" id="inbox">Inbox</li>
				<li>|</li> --}}
				{{!-- <li class="navItem">Conversations</li>
				<li>|</li> --}}
				<li class="navItem" id="sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</li>
			</ul>
		</nav>
	</header>
	<video src="" id="userVideo"></video>

	{{#each users}}
		<div class="userTile centered" data-layer="{{@index}}">
			<h2 class="tileTitle">Meet {{userName}}!</h2>
			<div class="imgContainer">
				<img src="{{img}}" alt="image of {{userName}}" class="userImage">
			</div>
			<p class="userBio">{{bio}}</p>
			<button class="choose" data-swipe="false" data-user="{{userName}}"><i class="fa fa-times fa-3x" aria-hidden="true"></i></button>
			<button class="choose" data-swipe="true" data-user="{{userName}}"><i class="fa fa-check fa-3x" aria-hidden="true"></i></button>
		</div>
	{{/each}}

	<div class="noMore centered">
		<h1 class="noMoreText">There are no more users online. Try back later!</h1>

	</div>

{{!-- commented out for future use --}}

{{!-- 
	<div id="swiped-container">
		<div class="swiped-user">
			<img src="https://www.fillmurray.com/300/300" alt="">
			<h3 class="swiped-userName">Bill Murray</h3>
			<button class="viewAgain" data-userName="Bill Murray" data-img="https://www.fillmurray.com/300/300">View Again</button>
		</div>
		{{#each swiped}}
			<div class="swiped-user">
				<img src="{{img}}" alt="image of {{userName}}">
				<h3 class="swiped-userName">{{userName}}</h3>
				<button class="viewAgain" data-userName="{{userName}}" data-img="{{img}}">View Again</button>
			</div>
		{{/each}}
	</div> --}}


	<div id="chat-accordion" class="chat-accordion chats">
		<h3>Chat</h3>
		  <div>
		  	{{#each connections}}
				<p class="chatUser">{{this}}</p>
		  	{{/each}}
		  </div>
	</div>
	<div class="chat-container">
		
	</div>

	<div class="modal" id="update-account-modal">
			<div class="modal-content">
				<div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
				<div class="modal-header">
					<h2>Hello {{currentUser.userName}}, update your account:</h2>
				</div>
				<div class="modal-body">
					<form id="update-account-form">
						<input name="update-age" type="text" id="update-age" placeholder="Age" class="centered text-input" value="{{currentUser.age}}">
						<div class="update-gender-wrapper centered">
							<h3 class="radio-label">I am a:</h3>
							<input type="radio" name="gender" value="m" id="gender-m">
							<label for="gender-m">Man</label>
			  				<input type="radio" name="gender" value="f" id="gender-f">
			  				<label for="gender-f">Woman</label>
						</div>

						<div class="update-seeking-wrapper centered">
							<h3 class="radio-label">Seeking:</h3>
							<input type="radio" name="seeking" value="m" id="seeking-m">
							<label for="seeking-m">Men</label>
			  				<input type="radio" name="seeking" value="f" id="seeking-f">
			  				<label for="seeking-f">Women</label>
						</div>
						<input name="update-img" id="update-img" type="text" placeholder="Enter image url" class="centered text-input" value="{{currentUser.img}}">
						<textarea name="bio" id="update-bio" cols="60" rows="4" class="bio"placeholder="Input user Bio" class="centered text-input" >{{currentUser.bio}}</textarea>

						<input type="button" value="Update Account!" id="update-submit" class="submit-button centered" data-user="{{currentUser.userName}}">
					</form>
				</div>
			</div>
		</div>{{!-- end of #update-account-modal --}}


		{{!-- commented out for future use --}}

		{{!-- <div class="modal" id="inbox-modal">
			<div class="modal-content">
				<div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
				<div class="modal-header">
					<h2>Hello {{currentUser.userName}}, here are the people you have contacted</h2>
				</div>
				<div class="modal-body">
					
				</div>
			</div>
		</div> --}}{{!-- end of #inbox-modal --}}



	{{!-- commented out for future use --}}

	{{!-- 	<div class="modal" id="viewAgain-modal">
			<div class="modal-content">
				<div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
				<div class="modal-header">
					
				</div>
				<div class="modal-body">
					<div class="centered">
						<h2 class="tileTitle" id="viewAgain-userName"></h2>
						<div class="imgContainer">
							<img src="" alt="" class="userImage" id="viewAgain-img">
						</div>
						<p class="userBio"></p>
						<button class="choose modal-close" data-swipe="false" data-user="" id="left"><i class="fa fa-times fa-3x" aria-hidden="true"></i></button>
						<button class="choose modal-close" data-swipe="true" data-user="" id="right"><i class="fa fa-check fa-3x" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div> --}}

		<div id="match-modal" class="modal">
			<div class="modal-content">
				<div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
				<div class="modal-header">
					<h2>Hello {{currentUser.userName}}, update your account:</h2>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
		
		{{!-- commented out for future use --}}

		{{!-- <div class="bubble-container">
			<div id="connectBubble" data-username="">
				<button id="connect-chat" class="chat-button">Chat</button>
				<button id="connect-video" class="chat-button">Video Chat</button>
			</div>
		</div> --}}

	<footer></footer>
</div>
<script>
var socket;
let thisUser = '';
	$(document).ready(function () {
		socket = io.connect();
		console.log('socket',socket)
		$.ajax('/getUser',{type:'GET'}).done(function (res) {
			console.log('response of hopefully username',res)
			thisUser = res;
		});
	});
</script>
